.Navbar-links{
  font-size: 1.5rem;
  font-weight: 600;
  
  
}
.Navbar-brand{
  display: flex;
  color: #16a34a;
}
.Navbar-brand i{
  margin-top: 35px;
  margin-right: 5px;
  font-size: 1.5rem !important;
}
.Navbar-links ul{
  list-style-type: none;
  display: flex;
}
.Navbar-links li{
  border: 2px solid black;
  margin-left: 30px;
  padding: 5px 20px;
  border-radius: 20px;
}
.Navbar{
  background-color: rgba(255, 255, 255, 0.58);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
}
body{
  background-image: url("https://ecoyaan.com/images/carousel-3.png");
}